* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: Georgia, Cambria, serif;
	background: #fff;
	line-height: 1.5;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

img, fieldset, a img {
	border: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	appearance: none;
}

input[type='submit'],
button {
	appearance: none;
	cursor: pointer;
}

textarea {
	overflow: auto;
}

input, button {
	margin: 0;
	padding: 0;
	border: 0;
}

div, input, textarea, select,button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none;
}

ul, ol {
	list-style-type: none;
}
ul, ol {
	margin: 15px;
}
ul li, ol li {
	padding-left: 15px;
	position: relative;
	margin-bottom: 5px;
}
ol li {
	padding-left: 20px;
}
ul li:last-of-type,
ol li:last-of-type {
	margin-bottom: 0;
}
ul li ul,
ol li ol {
	margin: 5px 15px 0;
}
ul li:before {
	content: '';
	background-color: #000000;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 0;
	height: 5px;
	width: 5px;
}

ol {
	counter-reset: ol-counter;
}
ol li:before {
	counter-increment: ol-counter;
	content: counter(ol-counter) ".";
	position: absolute;
	top: 0;
	left: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
code:not(.hljs) {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	padding: 2px 4px;
}
p {
	margin: 15px 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;
}

blockquote {
	font-style: italic;
	color: #9095a1;
	margin: 20px 0 20px 45px;
	border-left: 5px solid #e3eaf0;
	padding-left: 30px;
	line-height: 1.4em;
	position: relative;
}
blockquote:before {
	content: "\"";
	position: absolute;
	left: -45px;
	top: 10px;
	color: #e3eaf0;
	font-size: 25px;
}

.table {
	overflow-x: auto;
}
.table table {
	font-size: 14px;
	text-align: left;
	border-collapse: collapse;
	background: #252F48;
	margin: 10px 0;
	width: 100%;
}
.table table th {
	color: #EDB749;
	border-bottom: 1px solid #37B5A5;
	padding: 12px 17px;
}
.table table td {
	color: #CAD4D6;
	border-bottom: 1px solid #37B5A5;
	border-right:1px solid #37B5A5;
	padding: 7px 17px;
}
.table table tr:last-child td {
	border-bottom: none;
}
.table table td:last-child {
	border-right: none;
}


.hljs{display:block;overflow-x:auto;padding:.5em;background:#1d1f21}.hljs::selection,.hljs span::selection{background:#373b41}.hljs::-moz-selection,.hljs span::-moz-selection{background:#373b41}.hljs{color:#c5c8c6}.hljs-title,.hljs-name{color:#f0c674}.hljs-comment,.hljs-meta,.hljs-meta .hljs-keyword{color:#707880}.hljs-number,.hljs-symbol,.hljs-literal,.hljs-deletion,.hljs-link{color:#cc6666}.hljs-string,.hljs-doctag,.hljs-addition,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo{color:#b5bd68}.hljs-attribute,.hljs-code,.hljs-selector-id{color:#b294bb}.hljs-keyword,.hljs-selector-tag,.hljs-bullet,.hljs-tag{color:#81a2be}.hljs-subst,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#8abeb7}.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-quote,.hljs-section,.hljs-selector-class{color:#de935f}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

/* STYLES FOR EDITOR*/
#editor {
	padding: 20px;
	position: relative;
}
.link-editor {
	display: inline-block;
	margin-bottom: 20px;
}

.container {
	display: flex;
	position: relative;
}

.editor-textarea {
	padding: 10px 15px 10px 10px;
	border: 1px solid gray;
	width: 50%;
	resize: vertical;
	transition: all ease 0.5s;
}
.editor-textarea:focus {
	border-color: #0080FF;
}

.content {
	background-color: #F5F2F0;
	padding-left: 15px;
	width: 50%;
}

.copy {
	background-color: #1C257B;
	border-radius: 3px;
	padding: 5px;
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
}

.hint {
	display: inline-block;
	background-color: green;
	border-radius: 0 0 0 5px;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	right: 0;
}
/* STYLES FOR EDITOR*/
